<h2 class="edit-box" mat-dialog-title>Edit</h2>
<button class="close" mat-button mat-dialog-close>X</button>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="userForm">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="userForm.get('name')?.hasError('required')">
                    <strong>Required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Email Adress</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="userForm.get('email')?.hasError('required')">
                    <strong>Required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="gender-section">
            <mat-label>Gender</mat-label>
            <mat-radio-group aria-label="Gender" formControlName="gender">
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">female</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="userForm.get('gender')?.hasError('required')">
                <strong>Required</strong>
            </mat-error>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="DOB" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="userForm.get('DOB')?.hasError('required')">
                    <strong>Required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput placeholder="address" formControlName="address"></textarea>
            </mat-form-field>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <!-- <button mat-button mat-dialog-close>Cancel</button> -->
    <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>