.cancel-btn {
    background-color: #fff;
    border: 2px solid #00a99d;
    color: #00a99d;
    padding: 0px 30px;
    border-radius: 25px;
    cursor: pointer;
    width: auto;
    line-height: 30px;
    &:hover {
        background-color: #00a99d;
        color: #fff;
    }
}
.delete-btn {
    background-color: #00a99d;
    border: 2px solid #00a99d;
    color: #fff;
    padding: 0px 30px;
    border-radius: 25px;
    cursor: pointer;
    width: auto;
    line-height: 30px;
}
